<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Degree</title>
  </head>
  <body>
    <h3>Add Degrees </h3>
<form action="/degree/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form }}
  <input type="submit" value="Submit">
  <h3>Degrees Offered</h3>

  <table border="1">
    {% for r in degree_rows %}
      <tr>
        <td>{{ r.title }}</td>
        <td>{{ r.branch }}</td>
      </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
