<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
  </head>
  <body>
    <h1>This is index.html</h1>

    <h3>Degrees offered</h3>

    <table border="1">
      {% for r in degree_rows %}
        <tr>
          <td>{{ r.title }}</td>
          <td>{{ r.branch }}</td>
        </tr>
      {% endfor %}
    </table>


    <h3>Students Joined</h3>

    <table border="1">
      {% for r in student_rows %}
        <tr>
          <td>{{ r.roll_number }}</td>
          <td>{{ r.name }}</td>
          <td>{{ r.year }}</td>
          <td>{{ r.dob }}</td>
          <td>{{ r.degree }}</td>

        </tr>
      {% endfor %}
    </table>
  </body>
</html>
