<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
  <head>
    <meta charset="utf-8">
    <title>Department Admin</title>
    <link rel="stylesheet" href=project5_6.css">
  </head>
  <body>
    <h1>Hello Admin</h1>
    <img src="{% static 'logo.jpg' %}" alt="Amrita Logo">

    <h3>Click <a href="{% url 'adddegree' %}">here to </a>Degree<h3>
    <h3>Click <a href="{% url 'addstudent' %}">here to</a>Student<h3>
    <h3>Click <a href="{% url 'search_student' %}">here to</a>Search Student<h3>

  </body>
</html>
