<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h2> Add Student </h2>
    <div>
<form action="/project7_8/student/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form.as_p}}

 <br></br>
  <div class="submit">
  <input type="submit" value="Submit">
  </div>


    {% for message in messages %}

    <script>
    alert('{{ message }}');
  </script>

  {% endfor %}

  <div>
  <h2>Students Joined</h2>

  <table border="1">
    {% for r in student_rows %}
      <tr>
        <td>{{ r.roll_number }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.year }}</td>
        <td>{{ r.dob }}</td>
        <td>{{ r.degree }}</td>
      </tr>
    {% endfor %}
  </table>

</div>
</form>
</body>
</html>
