html, body {
  align-items: center;
  justify-content: center;
  height: 100%
  font-family: 'Open Sans', arial, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FFE333;
}
h1 {
  color: Blue;
  text-align: center;
}
h2 {
  color: Black;
  text-align: center;
  background-color: Grey;
}
